/playbooks/.ansible_facts
/playbooks/.vault-domotic
/playbooks/home.inv
/playbooks/*.retry
/playbooks/roles.galaxy

/.data
/playbooks/.vagrant

/**/*.crt
/**/*.key
/**/*.keystore
/**/*.p12

homeassistant/secrets.yaml
mqtt/credentials.json
postgres/initdb.d/homeassistant.sql
/.env

