{
    "data": {
        "credentials": [
            {
                "auth_provider_id": null,
                "auth_provider_type": "homeassistant",
                "data": {
                    "username": "{{ homeassistant_admin_username }}"
                },
                "id": "611f0bcd87344c9a9e728e5a223f9f1c",
                "user_id": "19e3206af01044498718b0bab4bfa00f"
            }
        ],
        "refresh_tokens": [ ],
        "users": [
            {
                "id": "19e3206af01044498718b0bab4bfa00f",
                "is_active": true,
                "is_owner": true,
                "name": "{{ homeassistant_admin_username }}",
                "system_generated": false
            }
        ]
    },
    "key": "auth",
    "version": 1
}
