{
    "data": {
        "salt": "{{ homeassistant_salt }}",
        "users": [
            {
                "password": "{{ homeassistant_admin_password }}",
                "username": "{{ homeassistant_admin_username }}"
            }
        ]
    },
    "key": "auth_provider.homeassistant",
    "version": 1
}
